
img {
    height: 100px;
    width: 100px;
    border: solid 1px black;
    margin: 10px;
}

div {
    width: 500px;
}

.row {
    margin: 5px;
}

h1 {
    background: orange;
    padding: 20px 0px;
}

#main {
    background: pink;
    color: green;
}

#random {
    background: green;
}

#score {
    background: cyan;
}

#total {
    background: blue;
    color: white;
}

#counter {
    background: blue;
    color: white;
}